img[src*="jpg"] {
    max-height: 159px;
    max-width: 159px;
   }

   @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather:wght@700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #D3D3D3;
    color : #000000;
}

header {
    background: linear-gradient(to top right,
			rgba(67, 66, 66, 0.6),
			#484646df),
			url("../img/logo/imgBG.jpeg") no-repeat center;
    background-size: cover;
    color: white;
    padding: 20px;
}

header div {
    margin: 150px auto;
    text-align: center;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

footer {
    margin-top : 25px;
    height : 100px;
    background-color: #939197;
    color : white;
    font-size: 15px;
    text-transform: uppercase;
    /* padding : 50px 10px; */
}

/* footer img {
    height : 100px;
    aspect-ratio: 1/1;
} */

.bg-light-gray {
    background-color: #D8D8D8;
}

.bg-gray {
    background-color: #BABABA;
}

.dark-gray {
    background-color: #8C8C8C;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  