{% extends 'base.html.twig' %}
{% block title %} Wassup Gays {% endblock %}

{% block body %}
<div class="container">
		{{ form_start(form) }}
		{{ form_row(form.getEmail) }}
		{{ form_row(form.getFirstName) }}

		<button type="submit">Verifier</button>
		{{ form_end(form)}}
	</div>

{% endblock %}