{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}
	{{dump()}}
	<div class="text-center my-5 gap-2 ">
		<hr class="mx-auto w-80">
		{% for offer in offers %}
			<h1>{% for message in offer.messages %}
				{{ message.content }}
			{% endfor %}</h1>
		<hr class="mx-auto w-80">
		{% endfor %}

	</div>
{% endblock %}
