{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}
	<div class="container">

    Incomplet !!!!!!!!! 
		{# <form method="post" class="jusfity-content-between mx-4">
			<h1 class="h3 mb-3 font-weight-normal">Msil box</h1>

			{{ form_start(registrationForm) }}
			{{ form_row( {
            label: 'Votre message'
            
        }) }}
			<button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
			{{ form_end(registrationForm) }}
		</form> #}
	</div>
{% endblock %}
