{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}

{% for annonce in annonces %}
<p>Title:{{annonce.name}}</p>
dump("annonce")
{% endfor %}

{% endblock body %}
