{% extends 'base.html.twig' %}

{% block title %}Liste de mes annonces{% endblock %}

{% block body %}
<h2>Liste de mes annonces</h2>

{% for annonce in annonces %}
<div>
</div>
<p>Title:{{annonce.title}}<a class="btn btn-primary" href="{{path('app_modification_annonce',{"id":annonce.getId})}}">Voir/Modifier l'annonce</a></p>

{# dump("annonce") #}
{% endfor %}

{# <h2>Créer une annonce</h2> #}
<a href="{{ path('app_creation_annonce') }}" class="btn btn-lg btn-outline dark p-3 m-5">Créer une annonce</a>
{% endblock body %}
 